name: dev
permissions:
  contents: read
on:
  push:
    branches:
    - main
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: setup-go
      uses: actions/setup-go@v6
      with:
          go-version: '1.25.x'
    - name: test
      run: dev/scripts/test.sh
    - name: earl-reports-artifact
      uses: actions/upload-artifact@v6
      with:
        name: earl-reports
        path: tmp/earl-reports
